<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>htmx demo app{{ ' - ' if title else '' }}{{ title }}</title>

    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" />

    <script src="https://unpkg.com/htmx.org@1.8.2/dist/htmx.min.js"
            integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
            crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/htmx.org@1.8.2/dist/ext/sse.js" defer></script>
    <!--script src="https://unpkg.com/htmx.org@1.8.2/dist/ext/ws.js"></script-->
    <script src="https://unpkg.com/mustache@4.2.0/mustache.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.8.2/dist/ext/client-side-templates.js" defer></script>
    <script src="https://unpkg.com/axios@1.1.3/dist/axios.min.js" defer></script>
  </head>

  <body data-captcha-gen-path="{{ url_for('captcha_gen') }}">
    {% include 'header.html' without context %}

    <main hx-boost="true" hx-target="main">
      {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' with context %}

    <script src="https://unpkg.com/alpinejs@3.10.4/dist/cdn.min.js" defer></script>
    {% block js %}{% endblock %}
  </body>
</html>
