<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>htmx demo app{{ ' - ' if title else '' }}{{ title }}</title>

    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/vendor/htmx.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/vendor/sse.js') }}" defer></script>
    <!--script src="{{ url_for('static', filename='js/vendor/ws.js') }}"></script-->
    <script src="{{ url_for('static', filename='js/vendor/mustache.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/vendor/client-side-templates.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/vendor/axios.min.js') }}" defer></script>
  </head>

  <body data-captcha-gen-path="{{ url_for('captcha_gen') }}">
    {% include 'header.html' without context %}

    <main hx-boost="true" hx-target="main">
      {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' with context %}

    <script src="{{ url_for('static', filename='js/vendor/alpine.min.js') }}" defer></script>
    {% block js %}{% endblock %}
  </body>
</html>
